html{
    --color-alpha: 202 254 0;
    --color-beta: 34 297 94;
    --color-accent: 59 130 246;
    --color-omega: 113 113 122;
    background: rgb(54,54,54) ;
}
.body{
    margin: .67em 0;
    line-height: inherit;
}

h1 {
    display: block;
    margin-top: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: futura-pt;
    font-weight: 100;
    font-style: normal;
    font-size: 32 px;
    letter-spacing: .03929825em;
    text-transform: none;
    line-height: .9em;
    color: #fff;
}
h2 {
    display: block;
}

h1 h2 h3{
    text-rendering: optimizeLegibility;
    margin: .67em 0;
}
/*conditional coding establishing the green headers or gradient coloring*/
:is(h1,h2,h3,h4,h5,h6)>em {
    font-style: normal;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: rgb(var(--color-alpha)/1);
    --tw-gradient-to: rgb(var(--color-alpha)/0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: rgb(var(--color-beta)/1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.navbar{
    font-family: futura-pt;
    font-weight: 400;
    font-style: strong;
    font-size: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

div{
    display:block;
}

.text-center{
    text-align: center;
}

/*unordered list coding intended to be used upon navbar coding for veritical orientation*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 150px;
    background-color: rgb(24, 24, 27)
}
/*this li a is referencing the NavBar formatting
click will be block style; white font; text will be adjusted to the right 8px; 
*/
li a{  
    display: block;
    color:rgb(255 255 255 )  ;
    padding: 8px;   
    text-decoration: none;
}
/*change link color on hover for navbar li a*/
li a:hover{
    background-color: rgb(05,25,255);
}

/*this controls the time taken to display the hovered navbar item description
, e.g.: hover over house icon to show "home", briefcase to show "Projects", envelope for "contact"*/
.duration-300{
    transition-duration: .43s;
}

/*transition properties for the nav buttons;
transition property all means all effects (shrink, shade, squish) happen at once
cuubic-bezier does a squish then compress effect*/
.transition-all{
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}


/*formatting the code sample appearing on the homepage*/
code{
    background: var(--tw-prose-pre-bg);
}

.code-highlight{

}
.code-line{
    display:block;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: -14px;
    margin-right: -14px;
    border-left-width: 4px;
    border-left-color: rgba(31, 41, 55, 0)
}

.line-number{

}

.highlight-line{

}

code[class*=language-], pre[class*=language-] {
    text-align: left;
    white-space: pre;
    word-spacing:normal;
    word-break:normal;
    word-wrap:normal;
    color: #eee;
    background: #2f2f2f;
    font-family: roboto mono, monospace;
    font-size: 1em;
    line-height: 1.5em;
    tab-size:4; 
    hyphens: none;
}

